.temp-display {
	display: grid;
	grid-area: current-forecast;
	grid-template-rows: auto 1fr;
	--gap: 15px;
}

.weather-condition-blocks {
	display: grid;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: var(--card-spacing);
}

.current-forecast-header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.tempurature-wrapper {
	display: grid;
}

.current-forecast-temps {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);
}

.current-forecast-temps,
.current-forecast-description {
	padding: 5px 10px;
}

.current-forecast-temp {
	font-size: 3.5rem;
	font-family: 'Rajdhani Medium';
}

.secondary-weather-data {
	display: grid;
	row-gap: 8px;
}

.min-max-temps {
	display: flex;
	column-gap: 0.5em;
}

.current-time {
	justify-self: end;
}

.weather-description-wrapper {
	display: grid;
}

.weather-description {
	font-family: 'Rajdhani';
}

.current-forecast-description {
	display: flex;
	align-items: center;
	gap: var(--gap);
}

.current-weather-icon-wrapper {
	width: 60px;
	flex-shrink: 0;
}

.feels-like-wrapper {
	white-space: nowrap;
}

.title {
	font-family: 'Rajdhani Bold';
}

.current-forecast-temps span > span {
	padding-left: 0.2em;
	font-family: 'Rajdhani';
}

span.temperature {
	white-space: nowrap;
}

@media only screen and (min-width: 55rem) {
	.current-forecast-description img {
		display: none;
	}
	.weather-condition-blocks {
		grid-auto-columns: 1fr auto;
	}

	.weather-description {
		max-width: 20ch;
	}
}
