.current-conditions-wrapper {
	grid-area: current-forecast;
	display: grid;
	grid-template-rows: auto 1fr;
}

.conditions-wrapper {
	display: grid;
	align-items: center;
	--pad: 0.35em;
	padding: var(--pad);
	column-gap: var(--pad);
	grid-template-rows: 1fr min-content auto;
	grid-template-areas:
		'icon current-temp'
		'extraneous-readings extraneous-readings'
		'description description';
}

.conditions-wrapper > div:nth-child(n + 3) {
	border-top: 2px solid var(--dark-2);
}

.conditions-wrapper > div:not(:first-of-type) {
	padding: calc(var(--pad) * 2);
}

.conditions-wrapper > div:nth-of-type(2) {
	padding: calc(var(--pad) * 2) 0;
}

.conditions-wrapper > div + div + div span:not(.weather-state) {
	font-size: 1rem;
}

.conditions-wrapper > div + div + div span.temperature {
	margin-left: 0.3em;
}

.current-conditions-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.current-conditions-icon-wrapper {
	--icon-width: 50px;
	width: var(--icon-width);
	grid-area: icon;
	margin-left: auto;
}

.temperature-wrapper {
	grid-area: current-temp;
	text-align: center;
	width: min-content;
}

.current-temp {
	font-size: clamp(3rem, 0.5rem + 13.3333vw, 3.5rem);
	font-family: 'Rajdhani Medium';
}

.weather-state {
	font-family: 'Rajdhani Medium';
}

.extraneous-readings {
	grid-area: extraneous-readings;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	justify-content: space-around;
	white-space: nowrap;
}

.right-side,
.left-side {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

:where(.right-side, .left-side) > div {
	min-width: 90px;
}

.conditions-description-wrapper {
	grid-area: description;
	display: grid;
}

.weather-description {
	opacity: 0.9;
}

@media only screen and (min-width: 30.875rem) {
	.conditions-wrapper {
		grid-template-areas:
			'icon current-temp description'
			'extraneous-readings extraneous-readings extraneous-readings';
	}

	.conditions-wrapper > div:nth-child(4) {
		border: none;
	}

	.conditions-wrapper > div:not(:first-of-type) {
		padding-bottom: var(--pad);
	}
}
