.carousel-wrapper {
	display: grid;
	grid-area: hourly-forecast;
	grid-template-columns: auto 1fr auto;
	font-family: 'Rajdhani';
	--time-tile-fs: 1.25rem;
	--card-row-gap: 5px;
}

.carousel {
	--card-width: 65px;
	--card-height: 200px;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc(var(--card-width));
	column-gap: var(--card-spacing);
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	min-height: var(--card-height);
}

.carousel::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.hour {
	height: var(--time-tile-fs);
}
.hour .time {
	display: inline-block;
	height: 100%;
}

.hour-condition-icon {
	width: var(--small-icon-size);
	height: 50px;
	display: grid;
	place-items: center;
	margin: 0 auto 0px auto;
	--clear-night-scale-adjustment: 75%;
}

/* the clear-night svg APPEARS (not actually is) noticeably larger than the others */
.hour-condition-icon img[alt*='clear night'] {
	width: var(--clear-night-scale-adjustment);
}

.carousel-btn {
	font-size: var(--time-tile-fs);
	width: 25px;
	background-color: var(--light-2);
	display: grid;
	place-items: center;
	margin-top: calc(var(--time-tile-fs) + var(--card-row-gap));
	border: none;
	border-radius: 0px;
	cursor: pointer;
	box-shadow: var(--light-glow);
}

.carousel-btn.backward img {
	transform: rotate(180deg);
}

.hour-card {
	display: grid;
	text-align: center;
	grid-template-rows: auto 1fr;
	gap: var(--card-row-gap);
}

.hour-data-card {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: var(--dark-1);
	padding: 5px;
	grid-template-rows: 1fr min-content;
}

.hour-precip-data {
	display: grid;
	place-items: center;
}

.hour-precip-icon {
	width: 30px;
}
