.ten-day-forecast {
	display: grid;
	grid-template-rows: auto 1fr;
	grid-area: ten-day-forecast;
	font-family: 'Rajdhani';
}

.ten-day-card {
	display: flex;
}

:where(.ten-day-card-title-wrapper, .ten-day-conditions) {
	background-color: var(--dark-1);
	padding: 5px 10px;
}

.ten-day-card-title,
.ten-day-high {
	font-family: 'Rajdhani';
}

.ten-day-low {
	font-size: 1rem;
}

.ten-day-card-title,
.ten-day-conditions {
	padding: 0.1em 0.5em;
}

.ten-day-card-title-wrapper {
	display: grid;
	place-content: center;
}

.ten-day-forecast-cards .card {
	background-color: transparent;
}

.ten-day-forecast-cards {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 5px;
	overflow-x: auto;
}

.ten-day-card {
	display: flex;
}

.ten-day-card > div {
	padding: 8px;
}

.ten-day-icon-wrapper {
	margin-left: auto;
	display: grid;
	place-content: center;
	width: var(--small-icon-size);
}

.ten-day-conditions {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 20px;
}

.ten-day-temps {
	display: flex;
	gap: 10px;
	align-items: flex-end;
}

@media only screen and (min-width: 55rem) {
	.ten-day-forecast-cards {
		flex-direction: row;
		overscroll-behavior-inline: contain;
		scrollbar-width: none;
		-ms-overflow-style: none;
		scroll-behavior: smooth;
	}

	.carousel::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}

	.ten-day-forecast .component-header {
		display: none;
	}

	.ten-day-forecast {
		grid-template-rows: auto;
	}

	.ten-day-card {
		display: grid;
		grid-template-rows: auto 1fr;
	}

	.ten-day-card-title-wrapper {
		background-color: transparent;
	}

	.ten-day-conditions {
		padding: 0px 10px;
	}

	.ten-day-temps {
		flex-direction: column;
		gap: 0px;
	}

	.ten-day-low {
		font-size: 1.125rem;
	}
}
