.temp-display {
	display: grid;
	grid-template-rows: auto 1fr;
}

.weather-condition-blocks {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: var(--card-spacing);
}

.current-forecast-header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.tempurature-wrapper {
	display: grid;
}

.current-forecast-temps {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.current-forecast-temps,
.current-forecast-description {
	padding: 10px 15px;
}

.current-forecast-temp {
	font-size: 3rem;
}

.secondary-weather-data {
	display: grid;
	row-gap: 8px;
	font-size: 1.1rem;
}

.min-max-temps {
	display: flex;
	column-gap: 0.5em;
}

.current-time {
	justify-self: end;
}

.weather-description-wrapper {
	display: grid;
}

.current-forecast-description {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.title {
	font-weight: 700;
}

.current-forecast-temps span > span {
	padding-left: 0.2em;
	font-weight: 200;
}
