.temp-display {
	display: grid;
	grid-template-rows: auto 1fr;
}

.weather-condition-blocks {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 10px;
}

.current-forecast-header {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--light-title-1);
	box-shadow: var(--light-glow);
	vertical-align: middle;
	padding: 5px 10px;
	text-wrap: nowrap;
}

.tempurature-wrapper {
	display: grid;
}

.current-forecast-temps {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.current-forecast-temps,
.current-forecast-description {
	background-color: var(--dark-1);
	padding: 10px 15px;
	color: var(--light-1);
}

.current-forecast-temp {
	font-size: 3rem;
}

.secondary-weather-data {
	display: grid;
	row-gap: 8px;
	font-size: 1.1rem;
}

.min-max-temps {
	display: flex;
	column-gap: 0.5em;
}

.current-forecast-header span {
	text-shadow: var(--title-text-glow);
	color: rgba(3, 54, 62, 0.8);
}

.current-time {
	justify-self: end;
}

.weather-description-wrapper {
	display: grid;
}

.current-forecast-description {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.title {
	font-weight: 700;
}

.current-forecast-temps span > span {
	padding-left: 0.2em;
	font-weight: 200;
}
