@font-face {
	font-family: 'Rajdhani Light';
	src:
		url('./assets/fonts/Rajdhani-Light.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani';
	src:
		url('./assets/fonts/Rajdhani-Regular.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani Medium';
	src:
		url('./assets/fonts/Rajdhani-Medium.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani Bold';
	src:
		url('./assets/fonts/Rajdhani-Bold.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-page-bg: #011111;
	--color-progress-indicator: #61c5cf;
	--color-progress-bg: #04677b;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	--dark-1: #028aa8;
	--light-1: #c2eeff;
	--light-title-1: rgb(239, 257, 244);
	--card-spacing: 5px;
	--bxsh-spread: 0.5px;
	--light-glow:
		inset 0px 0px 50px 0px rgb(186, 228, 232), 0px 0px 0.5px 0.25px rgb(167, 216, 220),
		0px 0px 2px var(--bxsh-spread) rgb(107, 163, 194), 1px 0px 10px 0.75px rgb(42, 128, 149);
	--title-text-glow: 0px 0px 2px #07758a;
	--box-shadow-adjustment: var(--bxsh-spread);
}

body {
	background-color: #011111;
	background: linear-gradient(180deg, hsl(196, 100%, 9%) 10%, #011515 100%) fixed;
}

header {
	display: grid;
	grid-auto-flow: column;
	column-gap: 30px;
	grid-area: header;
}

button {
	cursor: pointer;
	border-radius: 0px;
	border: none;
	background-color: transparent;
}

header > div {
	display: flex;
	column-gap: 8px;
}

img {
	color: transparent;
}

header img {
	width: 100%;
	height: auto;
}

span {
	line-height: 1;
	font-size: 1.25rem;
}

span:not(.component-title, .current-time) {
	color: var(--light-1);
}

.page-wrapper {
	min-height: 100dvh;
	display: grid;
	grid-auto-rows: min-content;
	grid-auto-columns: 1fr min-content;
	gap: 30px;
	padding: 30px;
	grid-template-areas:
		'header header'
		'current-forecast circular-readings'
		'hourly-forecast hourly-forecast'
		'ten-day-forecast ten-day-forecast';
}

.header-right {
	justify-content: end;
}

.logo-wrapper {
	display: grid;
	align-items: center;
	aspect-ratio: 1;
	place-items: center;
	max-width: 30px;
}

.search-form {
	height: auto;
	align-self: center;
}

input[type='search'] {
	border-radius: 0px;
	border: 1px solid var(--dark-1);
	background-color: #0d1713;
	color: var(--light-1);
	width: 100%;
	font-size: 1rem;
	padding: 0.35em 0.5em;
}

input[type='search']::placeholder {
	color: hsl(197, 100%, 30%);
}

:where(input[type='search'], button):focus-visible {
	outline: 1px solid var(--light-1);
	border-color: var(--dark-1);
}

.component-header {
	background-color: var(--light-title-1);
	box-shadow: var(--light-glow);
	padding: 5px 10px;
	text-wrap: nowrap;
	text-shadow: var(--title-text-glow);
	color: rgba(3, 54, 62, 0.8);
	margin: 0px calc(var(--box-shadow-adjustment) / 2);
	font-family: 'Rajdhani';
}

.card {
	color: var(--light-1);
	background-color: var(--dark-1);
}

@media only screen and (min-width: 30.875rem) {
	.page-wrapper {
		grid-template-areas:
			'header header'
			'current-forecast current-forecast'
			'hourly-forecast circular-readings '
			'hourly-forecast circular-readings '
			'hourly-forecast circular-readings '
			'ten-day-forecast ten-day-forecast';
	}

	.temp-display .weather-condition-blocks {
		grid-auto-flow: column;
	}

	.current-forecast-temps.card div:has(.temperature):not(.tempurature-wrapper) {
		font-size: clamp(0.85rem, 0.1509rem + 2.2642vw, 1rem);
	}

	.tempurature-wrapper .current-forecast-temp {
		font-size: clamp(2.5rem, -5.4677rem + 25.8065vw, 3rem);
	}
}

@media only screen and (min-width: 55rem) {
	.page-wrapper {
		grid-template-areas:
			'header header'
			'current-forecast ten-day-forecast'
			'circular-readings hourly-forecast';
		grid-template-columns: auto 1fr;
		column-gap: 5px;
		row-gap: 50px;
	}
}
