@font-face {
	font-family: 'Rajdhani Light';
	src:
		url('./assets/fonts/Rajdhani-Light.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani';
	src:
		url('./assets/fonts/Rajdhani-Regular.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani Medium';
	src:
		url('./assets/fonts/Rajdhani-Medium.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

@font-face {
	font-family: 'Rajdhani Bold';
	src:
		url('./assets/fonts/Rajdhani-Bold.woff2') format('woff2'),
		url('./assets/fonts/Rajdhani-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0912;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--color-page-bg: #011111;
	--color-progress-indicator: #61c5cf;
	--color-progress-bg: #04677b;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;

	--dark-1: #028cab;
	--dark-2: hsl(192, 74%, 69%);
	--light-1: rgb(224, 241, 237);
	--light-2: rgb(194, 238, 255);
	--light-title-1: rgb(239, 257, 244);
	--card-spacing: 5px;
	--bxsh-spread: 0.5px;
	--light-glow:
		inset 0px 0px 50px 0px rgb(186, 228, 232),
		0px 0px 0.5px 0.25px rgb(167, 216, 220),
		0px 0px 2px var(--bxsh-spread) rgb(107, 163, 194),
		1px 0px 10px 0.75px rgb(42, 128, 149);
	--title-text-glow: 0px 0px 2px #07758a;
	--box-shadow-adjustment: var(--bxsh-spread);
	--small-icon-size: 30px;
}

/* ***********RESET STYLE DECLARATIONS*********** */
body {
	background: linear-gradient(180deg, hsl(196, 100%, 9%) 10%, #011515 100%)
		fixed;
	position: relative;
	overflow: hidden;
}

button {
	cursor: pointer;
	border-radius: 0px;
	border: none;
	background-color: transparent;
}

img {
	width: 100%;
	height: auto;
	display: block;
	color: transparent;
	filter: drop-shadow(0px 0px 0.5px rgb(255, 255, 255))
		drop-shadow(0px 0px 1px rgb(0, 187, 216));
}

span {
	line-height: 1;
	font-size: 1.25rem;
	font-family: 'Rajdhani';
}

span:not(.component-title, .current-time) {
	color: var(--light-2);
}

/* ***********UTILITY STYLE DECLARATIONS*********** */
.component-header {
	background-color: var(--light-title-1);
	box-shadow: var(--light-glow);
	padding: 5px 10px;
	text-wrap: nowrap;
	text-shadow: var(--title-text-glow);
	color: rgba(3, 54, 62, 0.8);
	margin: 0px calc(var(--box-shadow-adjustment) / 2);
	font-family: 'Rajdhani';
}

.card {
	color: var(--light-1);
	background-color: var(--dark-1);
}

/* ***********CONTENT WRAPPER STYLE DECLARATIONS*********** */
.page-wrapper {
	display: grid;
	height: 100dvh;
	overflow-y: auto;
	scrollbar-gutter: stable;
	scrollbar-color: var(--light-1) var(--dark-1);
}

.content-wrapper {
	display: grid;
	grid-auto-rows: min-content;
	grid-auto-columns: 1fr min-content;
	max-width: 112.5rem;
	margin: 0 auto;
	gap: 30px;
	padding: 30px;
	grid-template-areas:
		'top-level-decor top-level-decor'
		'header header'
		'current-forecast circular-readings'
		'hourly-forecast hourly-forecast'
		'ten-day-forecast ten-day-forecast'
		'bottom-level-decor bottom-level-decor';
	--duration: 600ms;
}

/* ***********TOP LEVEL DECORUM STYLE DECLARATIONS*********** */
.top-level-decor {
	grid-area: top-level-decor;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	--fs: 0.6125rem;
}

.top-level-decor > div:last-child {
	display: grid;
	grid-auto-rows: min-content;
}

.logo {
	display: flex;
	align-items: center;
	column-gap: 2px;
}

.logo-title {
	font-family: 'Rajdhani Medium';
}

.satelite-service span {
	display: block;
	font-size: var(--fs);
	font-family: 'Rajdhani Medium';
}

span.crossing-highlight {
	font-family: 'Rajdhani Bold';
	display: inline;
}

.barcode-wrapper {
	height: var(--fs);
	background: url('./assets/svgs/2dmatrix.svg');
	background-size: cover;
	filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.45));
}

.bottom-level-decor {
	grid-area: bottom-level-decor;
}

.bottom-level-decor .barcode-wrapper {
	height: 0.6125rem;
	background-size: auto;
	margin-top: 5px;
}

.weather-station-metadata {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
}

.weather-station-metadata span {
	font-size: clamp(0.625rem, 0.1225rem + 2.5126vw, 1.25rem);
	font-family: 'Rajdhani Medium';
}

/* ***********HEADER STYLE DECLARATIONS*********** */
header {
	display: grid;
	grid-auto-flow: column;
	grid-area: header;
	grid-template-columns: subgrid;
}

header > div {
	display: flex;
}

header img {
	filter: none;
	width: 25px;
	margin-left: auto;
}

.header-right {
	justify-content: center;
	column-gap: 5px;
}

.search-form {
	height: auto;
	align-self: center;
}

input[type='search'] {
	border-radius: 0px;
	border: 1px solid var(--dark-1);
	background-color: #0d1713;
	color: var(--light-1);
	width: 100%;
	font-size: 1rem;
	padding: 0.35em 0.5em;
}

input[type='search']::placeholder {
	color: hsl(197, 100%, 30%);
}

:where(input[type='search'], button):focus-visible {
	outline: 1px solid var(--light-1);
	border-color: var(--dark-1);
}

/* ***********MODAL STYLE DECLARATIONS*********** */
.modal {
	background-color: hsla(197, 100%, 30%);
	position: fixed;
	max-width: 30ch;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-weight: 900;
	border: none;
	box-shadow: 0px 0px 50px 10px rgb(77, 131, 153);
	padding: 2em;
	text-align: center;
}

.modal span {
	line-height: 1.4;
}

.no-data-location {
	font-family: 'Rajdhani Bold';
}

.modal::backdrop {
	background-color: hsla(197, 100%, 11%, 0.7);
}

.modal[open] {
	display: grid;
	gap: 1em;
	grid-auto-rows: min-content;
	align-items: center;
}

.warning-icon-wrapper {
	width: 80px;
	margin: 0 auto;
}

.close-modal {
	padding: 0.75em 1.5em;
	background-color: var(--light-2);
	color: rgba(3, 54, 62, 0.8);
	font-size: 1.25em;
	font-family: 'Rajdhani Medium';
	line-height: 1;
	height: min-content;
}

/* ***********ANIMATION STYLE DECLARATIONS*********** */
.loader-wrapper {
	position: fixed;
	inset: 0;
	pointer-events: none;
	--duration: 400ms;
	z-index: 999;
}

.loader-wrapper > div {
	--loader-height: 50vh;
	height: var(--loader-height);
	width: 5vw;
	opacity: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) scaleY(0.075);
	background-color: var(--light-1);
}

.loader-top {
	transform-origin: bottom;
	bottom: 50%;
}

.loader-bottom {
	transform-origin: top;
	top: 50%;
}

:is(.loader-top, .loader-bottom).animate-reveal {
	animation: var(--duration) linear forwards reveal;
	opacity: 1;
}

.loader-top.animate-retract {
	transform-origin: top;
}

.loader-bottom.animate-retract {
	transform-origin: bottom;
}

:is(.loader-top, .loader-bottom).animate-retract {
	animation: var(--duration) linear forwards retract;
}

.animate-blink {
	animation: 200ms ease-in-out infinite forwards blink;
}

.animate-fade-in {
	animation: var(--duration) linear forwards explode;
}

.content-wrapper.animate-revealing {
	animation: var(--duration) ease-in-out forwards revealing;
}

.content-wrapper.animate-constrain {
	height: 100svh;
	overflow: hidden;
	opacity: 0;
}

/* ***********KEYFRAME DECLARATIONS*********** */
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reveal {
	0% {
		transform: translateX(-50%) scale(1, 0.075);
	}
	50% {
		transform: translateX(-50%) scale(20, 0.075);
	}
	100% {
		transform: translateX(-50%) scale(20, 1);
	}
}

@keyframes retract {
	0% {
		transform: translateX(-50%) scale(20, 1);
	}
	100% {
		transform: translateX(-50%) scale(20, 0);
	}
}

@keyframes revealing {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* ***********MEDIA QUERY DECLARATIONS*********** */
@media only screen and (min-width: 30.875rem) {
	.content-wrapper {
		grid-template-areas:
			'top-level-decor top-level-decor'
			'header header'
			'current-forecast current-forecast'
			'hourly-forecast circular-readings '
			'hourly-forecast circular-readings '
			'hourly-forecast circular-readings '
			'ten-day-forecast ten-day-forecast'
			'bottom-level-decor bottom-level-decor';
	}

	.temp-display .weather-condition-blocks {
		grid-auto-flow: column;
	}

	.current-forecast-temps.card
		div:has(.temperature):not(.tempurature-wrapper) {
		font-size: clamp(0.85rem, 0.1509rem + 2.2642vw, 1rem);
	}

	.tempurature-wrapper .current-forecast-temp {
		font-size: clamp(2.5rem, -0.6667rem + 10.2564vw, 3.5rem);
	}
}

@media only screen and (min-width: 55rem) {
	.content-wrapper {
		grid-template-areas:
			'top-level-decor top-level-decor'
			'header header'
			'current-forecast ten-day-forecast'
			'circular-readings hourly-forecast'
			'bottom-level-decor bottom-level-decor';

		grid-template-columns: auto 1fr;
		gap: 50px 5px;
	}

	.header-right {
		justify-content: flex-end;
		column-gap: 5px;
	}
}
