.circular-readings-wrapper {
	grid-area: circular-readings;
	display: grid;
	gap: 15px;
	place-content: center;
}

.circular-reading-wrapper {
	display: grid;
	gap: 5px;
	place-items: center;
}

.circular-reading-wrapper {
	margin: 0 auto;
}

[role='progressbar'] {
	--fs: 1rem;
	--diameter: 3.75em;
	--bar-width-ratio: 0.18;
	--bar-width: calc(100% - calc(var(--diameter) * var(--bar-width-ratio)));
	--progress: 0;
	width: var(--diameter);
	aspect-ratio: 1;
	background: conic-gradient(var(--color-progress-indicator) var(--progress, 0), var(--color-progress-bg) 0%);
	border-radius: 50%;
	font-size: var(--fs);
	display: grid;
	place-items: center;
	position: relative;
	z-index: 0;
}

[role='progressbar'][aria-valuemax='100']::before {
	content: attr(aria-valuenow) '%';
}

[role='progressbar']::before {
	content: attr(aria-valuenow);
	position: absolute;
	padding-top: calc(var(--diameter) * 0.05);
	color: var(--color-progress-indicator);
	z-index: 2;
}

[role='progressbar']::after {
	content: '';
	background-color: var(--color-page-bg);
	border-radius: inherit;
	width: var(--bar-width);
	aspect-ratio: 1;
	z-index: 1;
}

[role='progressbar'] .reference-marker {
	--reference-marker-bg: #e0eff1;
	position: absolute;
	--width: calc(var(--diameter) * 0.025);
	width: var(--width);
	height: calc(var(--bar-width) + (var(--width)));
	background-color: var(--reference-marker-bg);
	top: calc(var(--width) * -1);
}

.full-meter {
	box-shadow: 0px 0px 10px 0px #e0eff1;
}

.circular-reading-description {
	color: var(--light-1);
	font-size: 14px;
	text-align: center;
}
